/******************************
*
	* Key:
	* 1. Misc Styles
	* 2. Custom Components
	* 3. SLDS Components
*
******************************/
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: white;
  width: 300px;
  min-height: 300px;
  margin: 10px auto;
  border: 1px solid #f1f1f1;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  text-align: center;
  padding: 40px 20px;
}



/* Body */
html{
  font-size: 1.0rem!important;   
}
body, p{
  font-size: 1.0rem!important;   
} 
.siteforceThemeLayoutStarter{
  font-size: .9rem!important;   
} 

.slds-docked-form-footer{
    z-index: 2!important;
}
/* Tile Link */
.cCommunityTileLink span.tile-label{
    text-transform: capitalize!important;
    font-size: 18px !important;
    font-weight: bold !important;
    color: rgb(38, 66, 99) !important;
}
*.tile-label{
    text-transform: capitalize!important;   
}
.tile-container.cCommunityTileLink {
    position: relative;
    float: left;
    display: inline-block;
    height: 240px  !important;
    width: 292px  !important;
    margin: 10px 10px 10px 10px!important;
    border-radius: 0px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}
*.cCommunityTileLink:hover {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0);
    opacity: 0.9;
}

/******************************
*
	* 1. Misc Styles
*
******************************/

/******************************
	3. Custom Components 
*******************************/

/* Trending Articles by Topic */
.selfServiceTopicTrendingArticles42 .slds-grid--vertical a{
	color: rgb(38, 66, 99)!important;    
}

/* Tile Links */
.cCommunityTileLink span.tile-label{
    text-transform: none!important;
}

/* Service Help Button */
.forceCommunityEmbeddedServiceHelpButton .flatButton{
    border-radius: 6px 6px 0 0!important;
}
.embeddedServiceSidebarButton{
    border-radius: 0px!important;
}

/*******************************
	3. SLDS Components 
*******************************/

/* Headings */
h1, h2, h3, h4, h5, h6{
    font-family: arial!important;
}
.forceCommunityRichText h1{
    font-size: 32px!important;
    line-height: 44px!important;
    font-weight: 400!important;
}
.forceCommunityRichText h2{
    font-size: 24px!important;
    line-height: 36px!important;
    font-weight: 400!important;
}
.forceCommunityRichText h3{
    font-size: 20px!important;
    line-height: 32px!important;
    font-weight: 600!important;
}
.forceCommunityRichText h4{
    font-size: 18px!important;
    line-height: 30px!important;
    font-weight: 400!important;
}
.forceCommunityRichText h5{
    font-size: 16px!important;
    line-height: 28px!important;
    font-weight: 600!important;
}
.forceCommunityRichText h6{
    font-size: 16px!important;
    line-height: 28px!important;
    font-weight: 400!important;
    text-transform: uppercase!important;
}

/* Text Links */
.selfServiceTopicTrendingArticles42 .slds-grid--vertical a:link{
    color: #3d74ba;
}

/* Lists */
ul.list-no-style{
    list-style: none!important;
    padding: 0!important;
}
ul.list-no-style li{
    list-style: none!important;
    padding: 0!important;
}
.forceCommunityRichText ol li, .forceCommunityRichText ul li {
    padding-left: 0;
}

/* Card */
/*.card{
    border: 1px solid #f4f4f4;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    padding: 20px;
    background: white;
    border-radius: 4px;
}*/

/* Trending FAQs */
.comm-topic-trending-articles h2{
    font-size: 24px!important;
    line-height: 36px!important;
    font-weight: 400!important;
}
.comm-topic-trending-articles .slds-text-body_small{
    font-size: 16px;
}

/* Header
.header{
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
}
#header-overlay {
	 background: rgba(0,0,0,.20);
}
.siteforceServiceBody .cSearchPublisher .mobile-search-icon,
.siteforceServiceBody .cAltToggleNav .slds-button__icon,
.siteforceServiceBody .cProfileCon a.trigger-link {
    color: #3d74ba!important;
}
.forceCommunityGlobalNavigation .slds-list__item a, .forceCommunityGlobalNavigation .slds-list__item button {
    font-size: .95rem!important;
}  */

/* Header Navigation
.forceCommunityGlobalNavigation .slds-list__item a, .forceCommunityGlobalNavigation .slds-list__item button {
    font-size: 1.0rem!important;
}

.siteforceContentArea .comm-layout-column .ui-widget:not(:last-child) {
    margin-bottom: .5rem !important;
}

hr {
    display: block;
    margin: .5rem !important;
    border-top: 1px solid rgb(212, 212, 212);
    height: 1px;
    clear: both;
} */

/* Icons */
.siteforceServiceBody .cNotifications .unsNotificationsCounter{
    color: #fff!important;
}
.slds-global-header__button_icon:hover:not(:disabled), .slds-global-header__button_icon:focus, .slds-global-header__button--icon:hover:not(:disabled), .slds-global-header__button--icon:focus {
    fill: rgb(145, 145, 145)!important;
}
.cCustomProfileMenu .triggerLinkItemContainer .profileName{
    color: #fff!important;   
}
.cCustomProfileMenu .triggerLinkItemContainer:hover>.profileName {
    color: rgb(145, 145, 145)!important;
}
.cCustomProfileMenu .triggerLinkItemContainer>lightning-icon>lightning-primitive-icon>svg.slds-icon-text-default {
    fill: rgb(255, 255, 255)!important;
}
.cCustomProfileMenu .triggerLinkItemContainer:hover>lightning-icon>lightning-primitive-icon>svg.slds-icon-text-default {
    fill: rgb(145, 145, 145)!important;
}

/* Content Header
.comm-content-header{
    margin-top: 16px;
} */

.cMembershipExpiration .expiredCertsSections {
	font-size: 14px!important;
}
