/******************************
*
	* Key:
	* 1. Custom 
	* 2. SLDS Overrides
	* 3. Misc 
*
******************************/


/******************************
*
    * 1. Custom 
*
******************************/

/* Background Colors - Refactor to color tokens  */
.bg_sai_blue{
    background-color: #3d74ba!important;
}
.bg_sai_dkblue{
    background-color: #264263!important;
}
.bg_sai_green{
    background-color: #adbd23!important;
}
.bg_sai_gold{
    background-color: #f9bb4e!important;
}
.bg_sai_gray{
    background-color: #babcbe!important;
}

/* Body */
html{
  font-size: 1.0rem!important;   
}
body, p{
  font-size: 1.0rem!important;   
} 
.siteforceThemeLayoutStarter{
  font-size: .9rem!important;   
} 
.slds-docked-form-footer{
    z-index: 2!important;
}

/* Homepage Cards */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.flip-card {
  background-color: white;
  width: 300px;
  min-height: 240px;
  margin: 10px auto;
  border: 1px solid #f1f1f1;
  display: block;
}
a.flip-card h4{
    color: black;
}
.flip-card-inner {
  text-align: center;
  padding: 40px 20px;
}

/* Icons for Homepage Tiles */
.icon-bg{
    height: 90px; 
    width: 90px; 
    margin: 0 auto; 
    background-color: gray; 
    border-radius: 50%; 
    align-items: center; 
    display: flex;
}
.icon-img{
    margin: 0 auto;
}

/* Partner Portal Stuff */
.btn-outline-white, .content-info .gform_button {
    color: #fff !important;
    background-image: none;
    background-color: transparent;
    border-color: #fff;
    border: 2px solid #ffffff;
    padding: .5rem 1rem;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 1rem;
    transition: all .2s ease-in-out;
}
.btn-outline-white:hover, .content-info .gform_button:hover {
    color: #292b2c !important;
    background-color: #fff;
    border-color: #fff;
    text-decoration: none !important;
}
.btn-outline-green:hover, .content-info .gform_button:hover {
    color: #292b2c !important;
    background-color: #fff;
    border-color: #fff;
    text-decoration: none !important;
}
.btn-outline-green, .content-info .gform_button {
    color: #fff !important;
    background-image: none;
    background-color: #aebd24;
    padding: .5rem 1rem;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 1rem;
    transition: all .2s ease-in-out;
}
.tailor-grow:hover, .tailor-grow:focus, .tailor-grow:active {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.05);
}
.tailor-grow {
    -webkit-transition-property: transition-property-names(transform, "webkit");
    -moz-transition-property: transition-property-names(transform, "moz");
    transition-property: transition-property-names(transform, false);
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
    height: 400px;
}
#partner {
    font-size:18px;
}

/* Service Help Button */
.forceCommunityEmbeddedServiceHelpButton .flatButton{
    border-radius: 4px 4px 0 0!important;
}
.embeddedServiceSidebarButton{
    border-radius: 0px!important;
}
.contactSupportButton{
    width: auto!important;
    border-radius: 4px!important;
}
.forceCommunityContactSupportButton{
    width: auto!important;
    border-radius: 4px!important;
}
.contactSupportButton.forceCommunityContactSupportButton{
    width: auto!important;
    border-radius: 4px!important;
}


/* Tile Links */
.cCommunityTileLink span.tile-label{
    text-transform: none!important;
}

/* Tile Link */
.cCommunityTileLink span.tile-label{
    text-transform: capitalize!important;
    font-size: 18px !important;
    font-weight: bold !important;
    color: rgb(38, 66, 99) !important;
}
*.tile-label{
    text-transform: capitalize!important;   
}
.tile-container.cCommunityTileLink {
    position: relative;
    float: left;
    display: inline-block;
    height: 240px  !important;
    width: 292px  !important;
    margin: 10px 10px 10px 10px!important;
    border-radius: 0px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}
*.cCommunityTileLink:hover {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0);
    opacity: 0.9;
}

/* Service Help Button */
.forceCommunityEmbeddedServiceHelpButton .flatButton{
    border-radius: 6px 6px 0 0!important;
}
.embeddedServiceSidebarButton{
    border-radius: 0px!important;
}

/* Video Catalogs Stuff */
.vtuiCatalogsCmp.catalog-container .results .panelsContainer .catalogPanelOne {
    cursor: pointer;
    overflow: visible;
    vertical-align: top;
    width: 22% !important;
    min-width: 130px !important;
    height: 175px !important;
}
@media all and (min-width: 601px) and (max-width: 1045px) {
   .vtuiCatalogsCmp.catalog-container .results .panelsContainer .catalogPanelOne {
    cursor: pointer;
    overflow: visible;
    vertical-align: top;
    width: 200px !important;
    height: 175px !important;
    }
}
@media all and (max-width: 600px) {
   .vtuiCatalogsCmp.catalog-container .results .panelsContainer .catalogPanelOne {
    cursor: pointer;
    overflow: visible;
    vertical-align: top;
    width: 130px !important;
    height: 130px !important;
    }
}
.vtuiCatalogsCmp.catalog-container .results .panelsContainer .catalogPanelOne .titleCatalog {
    padding-bottom: 5%; /*refactor to use SLDS layout modifiers */
    padding-top: 5%; /*refactor to use SLDS layout modifiers */
    background-color: rgb(61, 116, 186);
    text-transform: none !important;
    height: 20px !important;
}
.vtuiCatalogsCmp.catalog-container .results .panelsContainer .catalogPanelOne .backgroundImage {
    background-size: cover;
    opacity: 1 !important;
    margin-top: 20px !important;
    width: 99.8% !important;
}
.vtuiCatalogsCmp.catalog-container .results .panelsContainer .catalogPanelOne .hoverColor {
    opacity: 1;
    margin-top: 20px;
    width: 99.8% !important;
}

.vtuiCatalogsCmp.catalog-container .results {
    text-align: center;
}

.vtuiMediaCmp .media-grid_list-view .media-item .media-item__descr {
    min-height: 60px;
    padding: 0 0 2.5rem 0 !important;
    overflow-x: hidden;
    text-align: left !important;
    font-size: 14px !important;
}
.vtuiMediaCmp .media-grid_list-view .media-item .media-item__title {
    margin-right: 30px;
    text-align: left !important;
}

/* GetFeedback Stuff */
.presenter-brand-footer {
    text-align: right;
    display: none !important;
}
.SurveyNavBar {
    display: none !important;
}
.SurveyNavBar .presenter-brand-footer {
    display: none !important;
}

.cMembershipExpiration .summaryHeader {
    color: #000;
    display: inline-block;
    font-weight: 400!important;
    font-size: 24px!important;
}
.summaryHeader.slds-m-around_x-small {
    margin: 0!important;
}

/* */
.vtuiCatalogsCmp {
   background-color: #f8f8fa !important;
}

.vtuiAllMediaCmp {
   background-color: #f8f8fa !important;
}
.vtuiPlaylistCmp {

   background: #f8f8fa !important;
}
.vtuiPlaylistCmp .meta__descr-text {
   color: #181819 !important;
}

/******************************
*
    * 2. SLDS Overrides
*
******************************/

/* Chatter */
/* Chatter Updates */
.forceChatterFeedCommentInputDesktop.always-show-actions .commentActionPanel, .forceChatterFeedCommentInputDesktop.expanded .commentActionPanel {
    display: none !important;
    margin-top: 0;
}

.forceChatterPublisherAttachments.desktop .cuf-attachmentsList {
    width: inherit;
    display: none !important;
}

.forceChatterPublisherAttachments .cuf-attachmentsItem {
    display: none !important;
}

/* File Preview */
.forceContentPreviewPlayerTopToolbar .preview-top-toolbar .file-preview-buttons{ 
    min-width: unset; float: right; 
}
.forceContentPreviewPlayerTopToolbar .preview-top-toolbar .file-preview-buttons button[title="View File Details"],
.forceContentPreviewPlayerTopToolbar .preview-top-toolbar .file-preview-buttons button[title="Public Link"],
.forceContentPreviewPlayerTopToolbar .preview-top-toolbar .file-preview-close {
    display:none; 
}


/* Footer */
.slds-docked-form-footer{
  background-color: #EAECEC!important;
}

/* Headings */
h1, h2, h3, h4, h5, h6{
    font-family: arial!important;
}
.forceCommunityRichText h1{
    font-size: 32px!important;
    line-height: 44px!important;
    font-weight: 400!important;
    margin: 12px 0 0 0;
}
.forceCommunityRichText h2{
    font-size: 24px!important;
    line-height: 36px!important;
    font-weight: 400!important;
}
.forceCommunityRichText h3{
    font-size: 20px!important;
    line-height: 32px!important;
    font-weight: 600!important;
}
.forceCommunityRichText h4{
    font-size: 18px!important;
    line-height: 30px!important;
    font-weight: 400!important;
}
.forceCommunityRichText h5{
    font-size: 16px!important;
    line-height: 28px!important;
    font-weight: 600!important;
}
.forceCommunityRichText h6{
    font-size: 16px!important;
    line-height: 28px!important;
    font-weight: 400!important;
    text-transform: uppercase!important;
}

/* Fonts */
.slds-text-body_small {     
    font-size: 16px!important;
}


/* Icons */
.siteforceServiceBody .cNotifications .unsNotificationsCounter{
    color: #fff!important;
}
.slds-global-header__button_icon:hover:not(:disabled), .slds-global-header__button_icon:focus, .slds-global-header__button--icon:hover:not(:disabled), .slds-global-header__button--icon:focus {
    fill: rgb(145, 145, 145)!important;
}
.cCustomProfileMenu .triggerLinkItemContainer .profileName{
    color: #fff!important;   
}
.cCustomProfileMenu .triggerLinkItemContainer:hover>.profileName {
    color: rgb(145, 145, 145)!important;
}
.cCustomProfileMenu .triggerLinkItemContainer>lightning-icon>lightning-primitive-icon>svg.slds-icon-text-default {
    fill: rgb(255, 255, 255)!important;
}
.cCustomProfileMenu .triggerLinkItemContainer:hover>lightning-icon>lightning-primitive-icon>svg.slds-icon-text-default {
    fill: rgb(145, 145, 145)!important;
}

/* Lists */
ul.list-no-style{
    list-style: none!important;
    padding: 0!important;
}
ul.list-no-style li{
    list-style: none!important;
    padding: 0!important;
}
.forceCommunityRichText ol li, .forceCommunityRichText ul li {
    padding-left: 0;
}

/* Settings */
/* hide sections of OOTB user settings component */
.forceCommunityUserSettings .locationSection .sectionbox:nth-child(1), /* Location - Language */
/*.forceCommunityUserSettings .locationSection .sectionbox:nth-child(2),*/ /* Location - Locale */
.forceCommunityUserSettings .profileVisibilitySection {
    display:none;
}


/* Text Links */
.selfServiceTopicTrendingArticles42 .slds-grid--vertical a:link{
    color: #3d74ba;
}

/* Trending Articles */
.comm-topic-trending-articles h2{
    font-size: 24px!important;
    line-height: 36px!important;
    font-weight: 400!important;
}
.comm-topic-trending-articles .slds-text-body_small{
    font-size: 16px;
}

/* Trending Articles by Topic */
.selfServiceTopicTrendingArticles42 .slds-grid--vertical a{
    color: rgb(38, 66, 99)!important;    
}

/******************************
*
    * 3. Misc 
*
******************************/

.cMembershipExpiration .expiredCertsSections {
	font-size: 14px!important;
}

/* Support */
.topicHierarchy-child{
    font-size: 1.0rem!important;
}

/* Hide Stuff */
.profile-menuItem.myAccount.uiMenuItem{
    display: none;
}

@media all and (max-width: 750px) {
    body.comm-page-login-home #rightFrame {
        display:none;
    }
    body.comm-page-login-home #LoginNew {
        width:100% !important;
    }
}
.salesforceIdentityCommunityLogo2 .communityLogo {
    max-width: 100%;
    width: 100% !important;
}

#LoginNew a:link,
#LoginNew a:visited{
    color: #3d74ba!important;
}

.salesforceIdentityLoginForm2 .inputBox {
    width: 85%!important;
}


